# Creating Dataframes

In [3]:
import pandas as pd

In [4]:
# From Python Lists
data1 = [
    ["Alice",25],
    ["John",30],
    ["Kane",40]
]
df = pd.DataFrame(data1, columns = ["Name","Age"], index = ["A","B","C"])
print(df)

# From Dictionary of Lists
data2 = {
    "Name" : ["Smith", "David", "Will"],
    "Country" : ["Australia", "South Africa", "USA"]
}
df = pd.DataFrame(data2, index = ["X", "Y", "Z"])
print(df)

# From NumPy Arrays
import numpy as np
arr = np.array([[1, 2], [3, 4]])
df = pd.DataFrame(arr, columns = ["A", "B"], index = ['M', 'N'])
print(df)

    Name  Age
A  Alice   25
B   John   30
C   Kane   40
    Name       Country
X  Smith     Australia
Y  David  South Africa
Z   Will           USA
   A  B
M  1  2
N  3  4

# Reading CSV Files

In [6]:
df = pd.read_csv("data.csv",              # Load CSV file
    sep = ',',                              # Use comma as separator
    header = 0,                             # First row as header
    names = ['S.No', 'Hero', 'Movies', 'Period'],  # Column names (ignored since header=0)
    usecols = ['S.No', 'Hero', 'Movies', 'Period'],  # Load selected columns
    index_col = 'S.No',                     # Set 'S.No' as index
    nrows = 5                               # Read first 5 rows
)

In [7]:
df

                           Hero  Movies      Period
S.No
Shah Rukh Khan          Pathaan    2023      Action
Salman Khan     Tiger Zinda Hai    2017      Action
Aamir Khan               Dangal    2016   Biography
Ranbir Kapoor        Brahmastra    2022     Fantasy
Ranveer Singh         Padmaavat    2018  Historical