In [15]:
# Importing the Dependencies
import pandas as pd
from sklearn.model_selection import train_test_split
from logistic_regression import Logistic_Regression
from sklearn.metrics import accuracy_score

In [3]:
# Load the Dataset
df = pd.read_csv('titanic.csv')

In [5]:
# First 5 rows
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Keep only useful columns
df = df[['Survived', 'Pclass', 'Sex', 'Age']]

In [8]:
# Drop rows with missing columns
df.dropna

<bound method DataFrame.dropna of      Survived  Pclass     Sex   Age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]>

In [9]:
# Encode categorical variable 'Sex'
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [11]:
# Features & Target
X = df[['Pclass', 'Sex', 'Age']]
y = df['Survived']

In [12]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [18]:
# Train Logistic Regression
model = Logistic_Regression(learning_rate = 0.02, no_of_iterations = 1000)
model.fit(X_train, y_train)

In [20]:
# Predict & Evaluate
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.5865921787709497